<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>     
      <command name="itemsync:serializeallitemsinbackground" type="SitecoreJobCreation.Sitecore.Commands.SerializeAllItems, SitecoreJobCreation" />
    </commands>
  </sitecore>
</configuration>